<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/dist/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>

</head>
<body>
    <div id="wrap">
        <!--основной контент-->
        <div class="container body-content">
            <div class="withpadding">
                @RenderBody()
            </div>
        </div>
    </div>
    
    <!--меню-->
    <div class="footer">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <p class="font-weight-normal">Transneft test progect - 2019</p>
                </div>
                <div class="row font-weight-bold">
                    <ul class="nav navbar-nav">
                        <li><a class="text-black-50" href="~/Home/Index" class="navbar-brand">На главную</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>