@model IndexModel
@{
    ViewData["Title"] = "Transneft test - главная";
}
@{var id = string.Empty;}

@if (Model.Message != null)
{
    <p>
        Произошла ошибка: @Model.Message 
    </p>
}

<h2>Выбор действия</h2>
<div>
    <p>
        <a asp-controller="Home" asp-action="AddPoint">Добавить новую точку измерения</a>
    </p>
    <p>
        <a asp-controller="Home" asp-action="Table">Выбрать все расчетные приборы учета в 2018 году</a>
    </p>

    <h3>Выбрать устройства с закончившимся сроком проверки</h3>
    <form asp-action="Table" asp-controller="Home" method="post">
            <label>Объект потребления</label>
            <select name="Id">
                @if (Model.ConsObjects != null)
                {
                    foreach (var item in Model.ConsObjects)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
            <br />

            <label for="param">Тип устройства:</label>
            <select name="Type">
                <option value="0">Счетчики</option>
                <option value="1">Трансформаторы тока</option>
                <option value="2">Трансформаторы напряжения</option>
            </select>
            <br />

            <button type="submit" value="Получить" />
    </form>
</div>

